div {
  width: 400px;
  height: 400px;
  background: var( --tiger-logo, url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxMC4xMjEiPg0KICAgIDxwYXRoIGQ9Ik04LjU5OSA5LjkwNWEuNzUuNzUgMCAwIDEtMS4wNTMtLjAwMmwtNy4yMy03LjIzYS43NDUuNzQ1IDAgMCAxIDAtMS4wNTJsMS40LTEuNGMuMjktLjI5Ljc2LS4yOSAxLjA1IDBMNy41NTQgNS4wMWMuMjkuMjkuNzYyLjI5MiAxLjA1MyAwbDQuODMtNC43OTRhLjc0Ny43NDcgMCAwIDEgMS4wNS4wMDRsMS40IDEuNDA2YS43NDcuNzQ3IDAgMCAxLS4wMDcgMS4wNUw4LjU5OSA5LjkwNHoiLz4NCjwvc3ZnPg0K'));
}
